@import "../../global.scss";

.project {
	background-color: transparent;
	display: flex;
	flex-direction: column;
	align-items: center;

	.project-title {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		margin-top: $section-margin-top;
		margin-left: $section-margin-left;
		margin-right: $section-margin-right;
		padding-bottom: 20px;
		font-size: 2em;

		.subtitle {
			font-size: 1.5em;
			color: #6e6e73;
		}
	}

	.project-wrapper {
		display: flex;
		flex-wrap: nowrap;
		transform: translateX(30%);
		margin-left: $section-margin-top;
		padding-bottom: $section-margin-top;
		// overflow-x: auto;
		// overflow-y: hidden;

		.card {
			height: 600px;
		}
	}
}
