@import "../../global.scss";

.project {
	background-color: transparent;
	display: flex;
	flex-direction: column;
	align-items: center;

	.title {
		align-content: flex-start;
		margin-top: $section-margin-top;
		margin-bottom: 20px;
		font-size: 30px;
		// overflow: hidden;
	}

	.project-container {
		display: inline-flex;
		height: 500px;

		.project-info {
			flex: 0.4;
			opacity: 0;
		}

		.project-thumbnail {
			flex: 0.6;
			display: inline-flex;
			// padding: 0;
			list-style: none;
			// border: 1px solid gray;
			// margin: 10px 20px
			background-color: transparent;

			.project-list {
				display: inline-flex;

				img {
					border-radius: 30px;
					object-fit: cover;
					width: 100%;
					height: 100%;
					z-index: $third-layer;
					// margin: 20px;

					.project-title {
						position: absolute;
						margin: 0 auto;
						left: 0;
						right: 0;
						text-align: center;
						z-index: $fourth-layer;

						h2 {
							font-size: 20px;
						}
					}

					&:hover {
						box-shadow: 3px 5px 9px #888888;

						.project-info {
							opacity: 1;
						}
					}
				}

				.buttonwrapper {
					position: absolute;

					margin: 0 auto;
					bottom: 0;
					left: 0;
					right: 0;
					text-align: center;
					z-index: $third-layer;

					button {
						margin: 20px;
					}
				}
			}
		}
	}
}
