@import "../../global.scss";

.about {
	display: flex;
	background-color: inherit;
	justify-content: center;
	align-items: center;
	background-image: url("./aboutpage.png");
	background-repeat: no-repeat;
	flex-direction: column;

	.about-section {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-bottom: 100px;

		.about-title {
			display: inline-flex;
			align-items: center;
			flex-wrap: wrap;
			margin-top: $section-margin-top;
			margin-left: $section-margin-left;
			margin-right: $section-margin-right;
			padding-bottom: 20px;
			font-size: 1.5em;

			.about-subtitle {
				font-size: 1.5em;
				color: #6e6e73;
			}
		}

		.about-me {
			display: flex;
			justify-content: center;
			align-items: center;

			.summary-space {
			}

			.summary {
				display: flex;
				justify-content: center;
				align-items: center;
				flex-wrap: wrap;
				max-width: 700px;
				position: relative;
			}
		}
	}

	.skill-section {
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;

		.title-skills {
			display: flex;
			flex-wrap: wrap;
			padding-bottom: 20px;
			margin-top: $section-margin-top;
			margin-left: $section-margin-left;
			margin-right: $section-margin-right;
			align-items: center;
			font-size: 1.5em;

			span {
				font-size: 1.5em;
				color: #6e6e73;
			}
		}

		.technology {
			display: flex;
			justify-content: center;
			align-items: center;

			.categories {
				display: flex;
				justify-content: center;
				align-items: center;
				flex-wrap: wrap;

				.skill-paper {
					width: 400px;
				}

				.fa-solid {
					font-size: 50px;
				}
			}
		}
	}
}
@media screen and (max-width: 833px) {
	.about {
		.skill-section {
			.technology {
				.categories {
					.skill-paper {
						width: 320px;
					}
				}
			}
		}
	}
}
