@import "../../global.scss";

.about {
	display: flex;
	background-color: inherit;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding-top: 100px;

	.about-section {
		max-width: 1400px;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		align-items: center;

		.about-title {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			padding-bottom: 20px;

		}

		.about-me {
			.about-who-section {
				position: relative;

				.about-who-img img {
					position: relative;
					object-fit: cover;
					max-width: 100%;
					height: 100%;
				}
			}

			.about-where-section {
				position: relative;

				.about-where-text {
					position: relative;
					z-index: 1;
				}

				.about-where-img img {
					position: relative;
					z-index: 0;
					object-fit: cover;
					max-width: 100%;
					// height: 100%;
				}
			}
		}
	}
}
@media screen and (max-width: 834px) {
	.about {
		.skill-section {

			.technology {
				.categories {
					.skill-paper {
						width: 320px;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 600px) {
	.about {
		.skill-section {
			.technology {
				.categories {
					.skill-paper {
						width: 300px;
					}
				}
			}
		}
	}
}
