@import "../../global.scss";

.home {
	background-color: transparent;
	display: flex;
	z-index: $second-layer;
	height: 100vh;
	flex-direction: column;

	.hi,
	.happy {
		position: fixed;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -70%);
		color: inherit;
		font-size: 50px;
		opacity: 0;
		z-index: -1;
	}

	.top {
		flex: 0.3;
		z-index: $fifth-layer;
	}

	.mid {
		flex: 0.5;
		z-index: $second-layer;

		.wrapper {
			width: 100%;
			height: 80%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			padding-left: 30px;
			padding-right: 30px;

			.sphere {
				position: absolute;
				margin: 0;
				padding: 0;
				z-index: -1;

				canvas {
					width: 100%;
					height: 100%;
				}
			}

			.top-spacing {
				flex: 0.2;
			}

			.greetings {
				flex: 0.7;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;

				h1 {
					font-size: 80px;
					margin: 10px 0;
				}

				h2 {
					font-size: 60px;
				}

				h3 {
					font-size: 40px;

					span {
						font-size: inherit;
						color: $mainColor3;
					}

					.ityped-cursor {
						opacity: 1;
						-webkit-animation: blink 0.4s infinite;
						-moz-animation: blink 0.4s infinite;
						animation: blink 0.4s infinite;
						animation-direction: alternate;
					}

					@keyframes blink {
						50% {
							opacity: 1;
						}
						100% {
							opacity: 0;
						}
					}

					@-webkit-keyframes blink {
						50% {
							opacity: 1;
						}
						100% {
							opacity: 0;
						}
					}

					@-moz-keyframes blink {
						50% {
							opacity: 1;
						}
						100% {
							opacity: 0;
						}
					}
				}

				h4 {
					font-size: 30px;
				}
			}

			.iconContainer {
				width: 100%;
				height: 100%;
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: flex-end;
				// font-size: 40px;

				.linkedin,
				.github,
				.stackoverflow,
				.hackerrank,
				.medium {
					// padding-right: 30%;
					// vertical-align: middle;
					// margin-bottom: 30px;

					a {
						color: black;

						i {
							text-align: center;
							width: 2em;
							font-size: 30px;
							transition: all 0.5s ease-out;
							transform-origin: center center;
							line-height: 2;

							&:hover {
								transform: scale(1.5);
								color: $mainColor2;
							}
						}
					}
				}
			}
		}
	}

	.bottom {
		display: flex;
		flex: 0.3;
		z-index: $fifth-layer;
		flex-direction: column;
		justify-content: flex-end;

		.bottom-spacing {
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			align-items: center;
			align-content: stretch;
			padding-bottom: 50px;
		}
	}
}

@media screen and (max-width: 763px) {
	.sphere {
		display: none;
	}
}
@media screen and (max-width: 834px) {
	.home {
		.mid {
			.wrapper {
				.greetings {
					h2 {
						font-size: 50px;
					}

					h3 {
						font-size: 35px;
					}
					h4 {
						font-size: 25px;
					}
				}
			}
		}
	}
}
@media screen and (max-width: 400px) {
	.home {
		.hi,
		.happy {
			font-size: 30px;
		}
	}
}
