@import "../../global.scss";

.home {
	background-color: transparent;
	display: flex;
	z-index: $first-layer;
	height: 100vh;
	flex-direction: column;

	#canvas {
		position: fixed;
		z-index: $background-layer;
	}

	.hi,
	.happy {
		position: fixed;
		top: 50%;
		left: 50%;
		color: inherit;
		transform: translate(-50%, -100%);
		font-size: 60px;
		opacity: 0;
		z-index: -10;
	}

	.top {
		flex: 0.3;
		z-index: $fifth-layer;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		flex-direction: column;

		.container {
			justify-content: center;
			align-items: flex-end;

			.touch {
				text-align: center;

				a {
					transition: all 0.5s ease-in-out;
					transform-origin: center center;
					color: black;
					text-align: center;

					&:hover {
						transform: scale(1.1);
						color: $mainColor2;
					}
				}
			}
			.touch:hover + .touch-text {
				transition: all 0.5s ease-in-out;
				opacity: 1;
			}
			.touch-text {
				opacity: 0;
			}
		}
	}

	.mid {
		flex: 0.4;
		z-index: $first-layer;

		.wrapper {
			width: 100%;
			height: 80%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			padding-left: 30px;
			padding-right: 30px;

			.top-spacing {
				flex: 0.2;
			}

			.greetings {
				flex: 0.5;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;

				h1 {
					font-size: 80px;
					margin: 10px 0;
				}

				h2 {
					font-size: 60px;
				}
				
				h3 {
					font-size: 40px;

					span {
						font-size: inherit;
						color: $mainColor3;
					}

					.ityped-cursor {
						opacity: 1;
						-webkit-animation: blink 0.4s infinite;
						-moz-animation: blink 0.4s infinite;
						animation: blink 0.4s infinite;
						animation-direction: alternate;
					}

					@keyframes blink {
						50% {
							opacity: 1;
						}
						100% {
							opacity: 0;
						}
					}

					@-webkit-keyframes blink {
						50% {
							opacity: 1;
						}
						100% {
							opacity: 0;
						}
					}

					@-moz-keyframes blink {
						50% {
							opacity: 1;
						}
						100% {
							opacity: 0;
						}
					}
				}

				h4 {
					font-size: 30px;
				}
			}

			.imgContainer {
				width: 100%;
				height: 100%;
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: flex-end;
				// font-size: 40px;

				.linkedin,
				.github,
				.stackoverflow {
					// padding-right: 30%;
					// vertical-align: middle;
					// margin-bottom: 30px;

					a {
						color: black;

						i {
							text-align: center;
							width: 2em;
							font-size: 30px;
							transition: all 0.5s ease-out;
							transform-origin: center center;
							line-height: 2;

							&:hover {
								transform: scale(1.5);
								color: $mainColor2;
							}
						}
					}
				}
			}
		}
	}

	.bottom {
		display: flex;
		flex: 0.3;
		z-index: $fifth-layer;
		flex-direction: column;
		justify-content: flex-end;

		.bottom-spacing {
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			align-items: center;
			align-content: stretch;
			padding-bottom: 50px;

			.container {
				justify-content: center;
				align-items: flex-end;

				.touch {
					text-align: center;

					a {
						transition: all 0.5s ease-in-out;
						transform-origin: center center;
						color: black;
						text-align: center;

						&:hover {
							transform: scale(1.1);
							color: $mainColor2;
						}
					}
				}
				.touch:hover + .touch-text {
					transition: all 0.5s ease-in-out;
					opacity: 1;
				}
				.touch-text {
					font-size: 20px;
					opacity: 0;
				}
			}

			a {
				// overflow: hidden;

				.arrowdown {
					font-size: 50px;
					align-self: auto;
					flex: 0 1 50px;
					color: black;

					i {
						text-decoration: none;
						animation: arrowBlink 2s infinite;
						animation: slide 3s linear infinite;
					}

					@keyframes arrowBlink {
						50% {
							opacity: 1;
						}
						100% {
							opacity: 0;
						}
						50% {
							opacity: 1;
						}
					}
					@keyframes slide {
						0% {
							opacity: 0;
							transform: translateY(-15px);
						}
						100% {
							opacity: 1;
						}
					}
				}
			}
		}
	}

	.backtotop {
		position: fixed;
		bottom: 55px;
		right: 15px;
		z-index: 5;

		cursor: pointer;
	}
}
