@import "../../global.scss";

.contact {
	position: relative;
	border-radius: 0 0 4em 4em;
	padding: 2rem 0;
	max-width: 1232px;
	margin: 0 auto;

	.contact-grid-container {
		max-width: 1400px;
		margin: 0 auto;

		.contact-title-grid {
			
			.contact-title-background {
				.contact-subtitle {
				}
			}

			.contact-social-icon {
				display: flex;
				justify-content: center;
				align-items: center;
				flex-wrap: wrap;

				.contact-social-icon-tile {
					display: flex;
				}
			}
		}
	}
}
