@import "../../global.scss";

.navbar {
	background-color: transparent;
	width: 100%;
	height: 100px;
	position: fixed;
	top: 0;
	z-index: 3;
	display: flex;
	// line-height: normal;

	.left {
		flex: 0.5;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.mid {
		flex: 0.3;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
		letter-spacing: 1px;

		a {
			font-size: 15px;
			color: inherit;
			text-decoration: none;

			&:hover {
				color: $mainColor2;
			}
		}
	}

	.right {
		flex: 0.3;
		display: flex;
		justify-content: center;
		align-items: center;

		.darkmode-button {
			display: flex;
			flex: 0.3;
			align-items: center;
			justify-content: center;
		}

		.language {
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.email {
			flex: 0.4;
			align-items: center;
			justify-content: center;

			color: inherit;
			padding: 15px;
			background-color: $mainColor1;
			border-radius: 20px;
		}
	}
}
