@import "../../global.scss";

.top-nav {
	background-color: transparent;
	position: sticky;
	height: 4rem;
	top: 0;
	z-index: 2;
	margin: 0 auto;
	max-width: 1232px;

	.top-nav-container {
		display: flex;
		justify-content: space-between;
		align-items: center;

		.top-left {
			.logo {
				img {
					display: block;
				}
			}
		}

		.top-right {
			.icon {
				.menubar {
				}
			}
		}
	}
}

#menu-drawer {
	display: none;
	opacity: 0;
	margin: auto 0;
}

@media screen and (max-width: 600px) {
	.top-nav {
		.top-left {
			padding: 20px;
		}
		.top-right {
			padding: 27px;
		}
	}
}
