@import "../../global.scss";

.navbar {
	background-color: transparent;
	width: 100%;
	height: 100px;
	position: fixed;
	top: 0;
	display: flex;
	z-index: 1000;
	// line-height: normal;

	.left {
		flex: 0.5;
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: $fifth-layer;

		.logo {
			flex: 0.1;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 20px;
			img {
				vertical-align: middle;
			}
		}

		.left-spacing {
			flex: 0.9;
		}
	}

	.right {
		flex: 0.5;
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: $fifth-layer;

		.right-spacing {
			flex: 0.9;
		}

		.icon {
			display: flex;
			align-items: center;
			justify-content: center;
			flex: 0.1;

			.menubar {
				align-items: center;
				justify-content: center;
				display: flex;
				padding-top: 20px;
				padding-bottom: 20px;
				padding-right: 10px;
			}
		}
	}
}
