@import "../../global.scss";

.skill {
	position: relative;
	display: flex;
	flex-direction: column;
	background-color: inherit;
	padding: 2rem 0;
	// padding-bottom: 100px;

	.skill-section {
		display: flex;
		max-width: 1400px;
		margin: 0 auto;
		flex-direction: column;
		align-items: center;

		.skill-title {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			padding-bottom: 20px;
		}

		.technology {
			display: flex;
			justify-content: center;
			align-items: center;
			max-width: 1200px;
			margin: 0 auto;

			.categories {
				display: flex;
				justify-content: center;
				align-items: center;
				flex-wrap: wrap;

				.skill-paper {
					width: 350px;
				}
			}
		}
	}
}
@media screen and (max-width: 834px) {
	.skill {
		.skill-section {
			.technology {
				.categories {
					.skill-paper {
						width: 320px;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 600px) {
	.skill {
		.skill-section {
			.technology {
				.categories {
					.skill-paper {
						width: 300px;
					}
				}
			}
		}
	}
}
