@import "../../global.scss";

footer {
	display: flex;
	flex-direction: column;
	position: relative;
	text-align: center;
	justify-content: center;
	background-color: #212121;
	color: #fafafa;
	// border-radius: 4em 4em 0 0;

	.footer-top {
		padding: 2rem 0;

		.footer-top-container {
			max-width: 1400px;
			margin: 0 auto;
			a {
				text-decoration: none;
				color: #fafafa;
			}

			a:hover {
				text-decoration: underline;
			}

			.social-icon {
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}
	}

	// @media screen and (max-width: 1200px) {
	// 	.top {
	// 		padding-left: 50px;
	// 		padding-right: 50px;
	// 	}
	// }

	.footer-bottom {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		padding-top: 1rem;
		padding-bottom: 2rem;

		.copyright {
			display: flex;
			justify-content: center;
			align-items: center;

			.copyright-text {
				color: #6e6e73;
				.name {
					color: #fafafa;
				}
			}
		}
	}
}
