.blog {
	max-width: 1232px;
	margin: 0 auto;

	.blog-title {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		padding-bottom: 20px;
	}

	.blog-container {
		display: grid;
		grid-template-columns: repeat(1, 3fr 1fr);
		padding: 1rem;

		.blog-list-grid {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
		}

		.blog-sidebar {
			display: flex;
			flex-direction: column;
			flex: 0 1 auto;
			border-radius: 1rem;
		}
	}
}

.article-tag {
	margin: 0 0.5rem;
}

@media screen and (max-width: 768px) {
	
}
