.blog {
	position: relative;
	display: flex;
	height: 100vh;
	z-index: 1;

	.left {
		flex: 0.1;
	}

	.mid {
		flex: 0.8;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		font-size: 80px;

		.main {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			i {
				flex: 0 1 auto;
				font-size: inherit;
			}

			h1 {
				font-size: inherit;
			}
		}
	}

	.right {
		flex: 0.1;
	}
}
