@use "global.scss";
@import url(./scss/theme.scss);

* {
	font-family: "Roboto", sans-serif;
	margin: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	-webkit-font-smoothing: antialiased;
	width: 100%;
	margin: 0;
	padding: 0;
	cursor: none;
}

body {
	overflow-x: hidden;
	margin: 0;
	padding: 0;

	.cursor {
		position: fixed;
		width: 40px;
		height: 40px;
		margin-left: -20px;
		margin-top: -20px;
		border-radius: 50%;
		border: 2px solid #121212;
		transition: transform 0.2s ease-in-out;
		transform-origin: center center;
		pointer-events: none;
		z-index: 5000;
	}

	.progress-cursor {
		position: fixed;
		width: 80px;
		height: 80px;
		margin-left: -40px;
		margin-top: -40px;
		transition: transform 0.2s ease-in-out;
		transform-origin: center center;
		pointer-events: none;
		z-index: 5000;
	}

	.grow {
		transform: scale(1.2);
		background: #121212;
		mix-blend-mode: difference;
		border: none;
	}
	.growtext {
		transform: scale(1.2);
		background: #ffffff;
		mix-blend-mode: difference;
		border: none;
	}
	.growimg {
		transform: scale(1.2);
		background: #ffffff;
		mix-blend-mode: difference;
		border: none;
	}

	#canvas {
		position: fixed;
		z-index: 0;
	}
	// scrollbar-color: $mainColor2;
	// scroll-snap-type: y mandatory;
	// scrollbar-width: thin; //for firefox
	// &::-webkit-scrollbar {
	// 	display: none;
	// }

	&::-webkit-scrollbar-track {
		background-color: transparent;
	}

	&::-webkit-scrollbar-thumb {
		background-color: #d6dee1;
		border-radius: 20px;
		border: 2px solid transparent;
		background-clip: content-box;
	}

	&::-webkit-scrollbar-thumb:hover {
		background-color: #a8bbbf;
	}

	&::-webkit-scrollbar {
		width: 14px;
	}
}

img {
	display: block;
}

a {
	text-decoration: none;
	color: inherit;
}

.cursor-dark {
	position: fixed;
	width: 40px;
	height: 40px;
	margin-left: -20px;
	margin-top: -20px;
	border-radius: 50%;
	border: 2px solid #ffffff;
	transition: transform 0.2s ease-in-out;
	transform-origin: center center;
	pointer-events: none;
	z-index: 5000;
}

.payment-modal {
	border-radius: 1rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	min-width: 400px;
	border: 2px solid #000;
	box-shadow: 24;
	padding: 1.5rem;

	.payment-modal-container {
		display: flex;
		position: relative;

		.payment-modal-close {
			position: absolute;
			top: 0;
			right: 0;
			animation: out 1s;
			cursor: pointer;
			font-size: 2rem;
			&:hover {
				animation: in 1s;
				transition: all 1s linear;
			}

			@keyframes in {
				from {
					transform: rotate(0deg);
				}
				to {
					transform: rotate(360deg);
				}
			}

			@keyframes out {
				from {
					transform: rotate(360deg);
				}
				to {
					transform: rotate(0deg);
				}
			}

			.close-icon {
				display: block;
			}
		}

		.payment-modal-body {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			.payment-title {
				text-align: center;
			}

			.payment-code-container {
				display: flex;
				justify-content: center;
				align-items: center;
				gap: 0.5rem;

				.payment-code-image {
					flex: 1 1 50%;

					img {
						display: block;
						height: auto;
						width: 100%;
					}
				}
			}
		}
	}
}
