@import "./global.scss";

html {
	scroll-behavior: smooth;
	-webkit-font-smoothing: antialiased;
	width: 100%;
	margin: 0;
	padding: 0;
	cursor: none;
}

body {
	background-color: #121212;
	overflow-x: hidden;
	margin: 0;
	padding: 0;

	.App {
		background-color: $bg-color-main;
	}

	.cursor {
		position: fixed;
		width: 50px;
		height: 50px;
		margin-left: -25px;
		margin-top: -25px;
		border-radius: 50%;
		border: 2px solid #121212;
		transition: transform 0.2s ease-in-out;
		transform-origin: center center;
		pointer-events: none;
		z-index: 5000;
	}
	.grow {
		transform: scale(2);
		background: #121212;
		mix-blend-mode: difference;
		border: none;
	}
	.growtext {
		transform: scale(3);
		background: #ffffff;
		mix-blend-mode: difference;
		border: none;
	}
	.growimg {
		transform: scale(5);
		background: #ffffff;
		mix-blend-mode: difference;
		border: none;
	}

	#canvas {
		position: fixed;
		z-index: 0;
	}

	.backtotop {
		position: fixed;
		bottom: 55px;
		right: 15px;
		z-index: 5;

		cursor: pointer;
	}
	// scrollbar-color: $mainColor2;
	// scroll-snap-type: y mandatory;
	// scrollbar-width: thin; //for firefox
	// &::-webkit-scrollbar {
	// 	display: none;
	// }

	&::-webkit-scrollbar-track {
		background-color: transparent;
	}

	&::-webkit-scrollbar-thumb {
		background-color: #d6dee1;
		border-radius: 20px;
		border: 2px solid transparent;
		background-clip: content-box;
	}

	&::-webkit-scrollbar-thumb:hover {
		background-color: #a8bbbf;
	}

	&::-webkit-scrollbar {
		width: 14px;
	}
}

::root {
}

.darkmode {
	background-color: #121212;
	color: rgba(255, 255, 255, 0.87);

	nav {
		color: rgba(255, 255, 255, 0.87);
	}

	a {
		color: rgba(255, 255, 255, 0.87);
	}

	i {
		color: rgba(255, 255, 255, 0.87);
	}

	span {
		color: rgba(255, 255, 255, 0.87);
	}

	p {
		color: rgba(255, 255, 255, 0.87);
	}

	h1 {
		color: rgba(255, 255, 255, 0.87);
	}

	h2 {
		color: rgba(255, 255, 255, 0.87);
	}
}

// @media screen and (max-width: 400px) {
// 	h2 {
// 		font-size: 1em;
// 	}
// 	span {
// 		font-size: 1em;
// 	}
// }
