$mainColor1: #6638c0;
$mainColor2: #8b58e4;
$mainColor3: #af78ff;
$mainColor4: #d49aff;
$mainColor5: #284c7e;

$bg-color-light: #fafafa;

$section-margin-top: 80px;

$background-layer: 0;
$first-layer: 1;
$second-layer: 5;
$third-layer: 10;
$fourth-layer: 15;
$fifth-layer: 20;
